GEMINI_API_KEY="AQ.Ab8RN6JC40iHy1T3rI4NfDO-4od7l1sFd0cyatwKjCDTEKSymw"
SUPABASE_JWT_SECRET="CJU/lgqExNm+QKbHM8bizyQHTKFERhUgV+2mc0sb9BBjjjshoaQZjd4y2+uMxIQuLaPneCNgr7rRvFCVCWsSWQ=="
DATABASE_URL="postgresql://postgres.uqhetdribywdwgfeszqv:FinScenario%40100@aws-0-ap-southeast-1.pooler.supabase.com:5432/postgres"
